:root {
  --accent-color: #2196f3;
  --first-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --background-color-white: #ffffff;
  --background-color-gray: #2f303a;
  --black-color: #000000;
  --hero-button-hover-color: #188ce8;
  --card-border: #eeeeee;
  --modal-form-border: rgba(33, 33, 33, 0.2);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

body {
  font-family: Roboto, OpenSans, Raleway, sans-serif;
  background-color: var(--background-color-white);
  color: var(--first-text-color);
}

.list {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h2 {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-icon {
  width: 20px;
  height: 20px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: var(--background-color-white);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  fill: var(--third-text-color);
  background-color: var(--accent-color);
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
}

.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  top: 8px;
  right: 8px;
  padding: 0;
  cursor: pointer;
}

.close-btn:hover {
  fill: var(--accent-color);
}

.icon-cross {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.modal-form-field-paragraph {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.backdrop-icon-position {
  margin-bottom: 10px;
  display: block;
  position: relative;
}

.modal-form-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--modal-form-border);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.backdrop-icon-links {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  display: block;
}

.modal-form-input:focus + .backdrop-icon-links {
  fill: var(--accent-color);
}

.backdrop-icon {
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid var(--modal-form-border);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

.modal-form-textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--third-text-color);
  cursor: pointer;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.modal-form-checkbox-label {
  display: flex;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 30px;
}

.modal-form-checkbox-label:focus {
  background-image: url(../images/icon-check.svg);
}

.modal-form-checkbox-label::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--first-text-color);
  border-radius: 2px;
  color: var(--first-text-color);
  cursor: pointer;
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/icon-check.svg);
  background-color: var(--accent-color);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid var(--accent-color);
}

.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  border-color: var(--accent-color);
}

.modal-checkbox-text-position {
  margin-left: 7px;
}

.modal-form-label-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form-label-link:visited {
  color: var(--accent-color);
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.logo-link {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-container__logo-link {
  margin-right: 90px;
}

.header-container {
  display: flex;
}

.header-container__navigation {
  display: flex;
  align-items: center;
}

.logo-link_theme_header {
  color: var(--black-color);
}

.nav-color {
  color: var(--first-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-color:visited {
  color: var(--first-text-color);
}

.header-container__contact-link_contact-color {
  color: var(--second-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-container__contact-link_contact-color:visited {
  color: var(--second-text-color);
}

.header-list {
  display: flex;
}

.header-list__link:hover,
.header-list__link:focus,
.header-list__link:active {
  color: var(--accent-color);
}

.current {
  position: relative;
}

.current-line::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -33px;
  background-color: var(--accent-color);
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-container__contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-container__contact-link_contact-color {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-container__contact-item:not(:last-child) {
  margin-right: 50px;
}

.header-container__icon {
  margin-right: 10px;
  fill: var(--second-text-color);
  transition-property: color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-container__contact-link_contact-color:hover .header-container__icon,
.header-container__contact-link_contact-color:focus .header-container__icon {
  fill: var(--accent-color);
}

.header-container__contact-link_contact-color:hover,
.header-container__contact-link_contact-color:focus,
.header-container__contact-link_contact-color:active {
  color: var(--accent-color);
}

.header-list .header-list__link.current {
  color: var(--accent-color);
}

.header-container__contact-list .header-list__link:hover,
.header-container__contact-list .header-list__link:focus,
.header-container__contact-list .header-list__link:active {
  color: var(--accent-color);
}

.hero {
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  max-height: 600px;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--background-color-gray);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 30px;
  max-width: 696px;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--third-text-color);
  cursor: pointer;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus, .hero-button:active {
  background: var(--hero-button-hover-color);
}

.features-list {
  display: flex;
  margin-bottom: 94px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.feature-items {
  width: 270px;
}

.feature-items:not(:last-child) {
  margin-right: 30px;
}

.do-list {
  display: flex;
}

.do-item:not(:last-child) {
  margin-right: 30px;
}

.do-list-wrapper {
  position: relative;
}

.do-item-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color-white);
  background: rgba(47, 48, 58, 0.8);
}

.features-title {
  margin-bottom: 10px;
}

.icon-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.team-section {
  background-color: #f5f4fa;
}

.team-post {
  color: var(--second-text-color);
  margin-bottom: 16px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-items {
  text-align: center;
  background-color: var(--background-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-items:not(:last-child) {
  margin-right: 30px;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.client-list {
  display: flex;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover, .client-link:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.icon-client {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover .icon-client,
.client-link:focus .icon-client {
  fill: var(--accent-color);
}

.client-items:not(:last-child) {
  margin-right: 30px;
}

.footer {
  background-color: var(--background-color-gray);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  margin-bottom: 20px;
  display: block;
}

.logo-link-footer {
  color: var(--third-text-color);
}

.list-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.footer-items:not(:last-child) {
  margin-bottom: 10px;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-wrapper {
  display: flex;
  margin: 0 auto;
  align-items: baseline;
}

.social-group-footer {
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.join-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 20px;
}

.social-list-footer {
  display: flex;
  justify-content: space-between;
}

.social-footer-icon {
  width: 20px;
  height: 20px;
}

.social-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--background-color-white);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-link:hover, .social-footer-link:focus {
  fill: var(--third-text-color);
  background-color: var(--accent-color);
}

.footer-form-position {
  margin-left: 70px;
}

.footer-form-email {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 20px;
}

.footer-form-email-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--third-text-color);
  background-color: var(--background-color-gray);
}

.footer-form-email-input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.subscribe-btn-footer {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--third-text-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 0;
  position: relative;
}

.subscribe-text {
  display: flex;
  padding-left: 29px;
}

.icon-footer {
  position: absolute;
  right: 28px;
  top: 13px;
}

.header-list .header-list__link.current {
  color: var(--accent-color);
}

.buttons-filtr {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.buttons-filtr-items {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-filtr-items:hover, .buttons-filtr-items:focus, .buttons-filtr-items:active {
  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-items {
  width: 370px;
  height: 404px;
  margin-left: 30px;
  margin-top: 30px;
  background: var(--background-color-white);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items:hover {
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-name {
  height: 36px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-text {
  height: 30px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translateY(0%);
}

.portfolio-link:visited {
  color: var(--first-text-color);
}

.portfolio-list-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--third-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-content {
  padding: 20px 24px;
  border-right: 1px solid var(--card-border);
  border-bottom: 1px solid var(--card-border);
  border-left: 1px solid var(--card-border);
}
/*# sourceMappingURL=main.css.map */