h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

body {
  font-family: Roboto, OpenSans, Raleway, sans-serif;
  background-color: var(--background-color-white);
  color: var(--first-text-color);
}

.list {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h2 {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
