:root {
  --accent-color: #2196f3;
  --first-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --background-color-white: #ffffff;
  --background-color-gray: #2f303a;
  --black-color: #000000;
  --hero-button-hover-color: #188ce8;
  --card-border: #eeeeee;
  --modal-form-border: rgba(33, 33, 33, 0.2);
}
