.features-list {
  display: flex;
  margin-bottom: 94px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.feature-items {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.do-list {
  display: flex;
}

.do-item:not(:last-child) {
  margin-right: 30px;
}

.do-list-wrapper {
  position: relative;
}

.do-item-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color-white);
  background: rgba(47, 48, 58, 0.8);
}

.features-title {
  margin-bottom: 10px;
}

.icon-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
