.do-list {
  display: flex;
}

.do-item:not(:last-child) {
  margin-right: 30px;
}

.do-list-wrapper {
  position: relative;
}

.do-item-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color-white);
  background: rgba(47, 48, 58, 0.8);
}
